.help-page, .help-page html, .help-page body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.help-page {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.6;
}

.help-page .btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.help-page .searchButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-page .searchButtons .button {
    margin: 0;
    width: 150px;
    padding: 10px;
    border: 1px solid white;
    background-color: #111111;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.help-page .btn-primary {
    padding: 10px;
    background-color: #111111;
    color: white;
    border: 2px solid #111111;
    font-size: 12px;
}

.help-page h2 {
    color: #111111;
    padding-left: 20px;
}