.help-page, .help-page html, .help-page body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

.help-page {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.6;
}

.help-page p {
    text-align: center;
    color: #666;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.help-page .searchButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.help-page .searchButtons .button {
    margin: 0;
    width: 150px;
    padding: 10px;
    border: 1px solid #f9f9f9;
    background-color: #333333;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.help-page .user-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.help-page .btn-primary {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.help-page .btn-secondary {
    background-color: #f9f9f9;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.homepage .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* .help-page .btn-primary {
    text-align: center;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
} */