.resources-page, .resources-page html, .resources-page body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.resources-page h1 {
    color: green;
    padding-left: 20px;
}

.resources-page h2 {
    color: greenyellow;
    padding-left: 20px;
}

.resources-page h3 {
    color: green;
    padding-left: 20px;
}

.resources-page .iframe-container {
    padding-left: 20px;
}

.resources-page .resource-list {
    color: black;
    text-decoration: none;
}

.resources-page a {
    color: yellowgreen;
    text-decoration: none;
}

body.resources-page {
    background-color: grey;
}

.resources-page ul li {
    color: yellowgreen;
}

.resources-page #general-advice{
    width: 1000px;
    overflow-x: auto;
    white-space: nowrap;
}

.resources-page #medical-health{
    width: 1000px;
    overflow-x: auto;
    white-space: nowrap;
}

.resources-page #spiritual-health{
    width: 1000px;
    overflow-x: auto;
    white-space: nowrap;
}