<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <title>Home</title>
</head>
<body>
  <header>
    <body>
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        <li style="float:right"><a href="{{ url_for('auth.route_logout') }}">Logout</a></li>
      
      </ul>
    </body>
  </header>
  <main>
    <p>Welcome, <strong>{{ user.email }}</strong> — you're logged in.</p>
  </main>
</body>
</html>