<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>

<body>
    <h1>Resources</h1>

    <h2>General Advice</h2>

    <iframe width="280" height="158" src="https://www.youtube.com/embed/Es5tyoL8AsU?si=X13t76E6rwasyW8a"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <h2>Medical Advice</h2>

    <iframe width="280" height="158" src="https://www.youtube.com/embed/hpgjwK_oQe0?si=UbAH9IZ6FBQXVWWn"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <h2>Spiritual/Mental Wellbeing</h2>

    <iframe width="280" height="158" src="https://www.youtube.com/embed/GvgfoAfE30E?si=tEC57WrjjvpV1P1L"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/7w7LwdfNOSo?si=9n750VZt_gCmCZLm"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/BfSzQWKpxHk?si=-yF2bpic97E9XXjN"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</body>

</html>