<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/connect.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <title>Connect</title>
</head>
<body class="connect-page">
<!-- Header & Navigation -->
  <header>
    <div class="navbar-container">
      <nav id="nav-bar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/help">Find Help</a></li>
          <li><a class='active' href="/connect">Connect</a></li>
          {% if user.is_authenticated == true %}
          <li style="float: right">
            <a href="/profile" title="Profile" style="display: flex; align-items: center;"><img src="{{ url_for('static', filename='images/girl.png') }}" alt="Profile" style="width: 34px; height: 34px;"></a>
          </li>
          {% else %}
          <li style="float: right">
            <a href="{{ url_for('auth.get_login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <h1>Connect</h1>

  <h2>Find Support Groups</h2>
  <div class="groups">
  {%for group in groups %}
    <div class="card" id="groups">
      <h3>{{group.name}}</h3>
      <h4>Email: {{group.email}}</h4>
      <p>{{group.desc}}</p>
    </div>
    {% endfor %}
  </div>

  <h2>Create a Support Group</h2>
  <div class="container">
    <form id="group-form" method="POST" action="/connect">
      {{ form.csrf_token }} 
      <div class="form-group">
        {{ form.name.label }}
        {{ form.name() }}
      </div>
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email() }}
      </div>
      <div class="form-group">
        {{ form.description.label }}
        {{ form.description() }}
      </div>
      <div class="form-group">
        {{ form.submit() }}
      </div>
    </form>
  </div>
</body>
</html>