<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <title>Help</title>
</head>

<body class="help-page">
    <!-- Header & Navigation -->
  <header>
    <div class="navbar-container">
      <nav id="nav-bar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a class="active" href="/help">Find Help</a></li>
          <li><a href="#connect">Connect</a></li>
          {% if user.is_authenticated == true %}
          <li style="float: right">
            <a href="/profile" title="Profile" style="display: flex; align-items: center;"><img src="{{ url_for('static', filename='images/girl.png') }}" alt="Profile" style="width: 34px; height: 34px;"></a>
          </li>
          {% else %}
          <li style="float: right">
            <a href="{{ url_for('auth.get_login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <!-- Map Section -->
    <div id="insert_map"></div>
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> -->

    <script type="module">
      import * as L from 'https://unpkg.com/leaflet@1.9.4/dist/leaflet-src.esm.js'
      window.L = L
    </script>

    <script src="{{ url_for('static', filename='js/map.js') }}" type="module"></script>

    <div class="searchButtons">
        <button class="button" id="health-btn">Healthcare</button>
        <button class="button" id="social-btn">Social Services</button>
        <button class="button" id="childcare-btn">Childcare</button>
        <button class="button" id="store-btn">Baby Store</button>
        <button class="button" id="church-btn">Christian Church</button>
        {% if user.is_authenticated == true %}
          <button class="button" id="saved-btn">Saved Locations</button>
        {%endif%}
        <button class="button" id="clear-btn">Clear Map</button>
    </div>

    
    {% if user.is_authenticated == true %}
      <!-- <p>Save and view your favorite locations!</p> -->
      <div class="user-btn">
          <button class="btn-primary" id="save-location-btn">Save Location</button>
      </div>
    {%else%}
      <p>Click the buttons to reload the map with new locations near you!</p>
    {%endif%}
 
  </main>
</body>
<script src="{{ url_for('static', filename='js/toast.js') }}"></script>

</html>