<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
  <title>Resources</title>
</head>

<body class="resources-page">
  <!-- Navigation Bar -->
  <header>
    <div class="navbar-container">
      <nav id="nav-bar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a class="active" href="/resources">Resources</a></li>
          <li><a href="/help">Find Help</a></li>
          <li><a href="#connect">Connect</a></li>
          {% if user.is_authenticated == true %}
          <li style="float: right">
            <a href="{{ url_for('auth.route_logout') }}">Logout</a>
          </li>
          {% else %}
          <li style="float: right">
            <a href="{{ url_for('auth.get_login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <!-- Page Header -->
  <h1>Resources</h1>

  <!-- General Advice Section -->
  <h2>General Advice</h2>
  <div id="general-advice"></div>

  <!-- Medical Advice Section -->
  <h2>Medical Advice and Health</h2>
  <div id="medical-health"></div>

  <!-- Spiritual / Mental Wellbeing Section -->
  <h2>Spiritual / Mental Wellbeing</h2>
  <div id="spiritual-health"></div>

  <!-- Resource Links Section -->
  <h2>Need Help Getting Baby Essentials?</h2>
  <h3>Here are Some Organizations that Provide Free Resources</h3>
  <h3>Select an option to receive support or additional information</h3>

  <ul>
    <li>
      <a href="https://www.fns.usda.gov/wic">
        A suborganization of the USDA, WIC provides support to expecting
        mothers in need
      </a>
    </li>
    <li>
      <a href="https://aeroflowbreastpumps.com/qualify-through-insurance">
        Aeroflow provides free resources to pregnant moms with qualifying
        insurance
      </a>
    </li>
    <li>
      Both Walmart and Target offer free supplies when you start a baby
      registry with them, no purchase required:
      <ul>
        <li>
          <a href="https://www.walmart.com/cp/baby-registry/1229485">Walmart</a>
        </li>
        <li>
          <a href="https://www.target.com/gift-registry/create-baby-registry">Target</a>
        </li>
      </ul>
    </li>
  </ul>
  <script src="{{ url_for('static', filename='js/resources.js') }}"></script>
</body>

</html>